div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

button {
    padding: 2em 4em;
    border: none;
    border-radius: 1em;
}
